@font-face{
     font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
        url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
        url(../fonts/JF-Flat-regular.woff) format('woff'),
        url(../fonts/JF-Flat-regular.ttf) format('truetype');
        font-weight: bolder;
        font-style: normal;
}

body{
    font-family: "JF Flat Regular", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.custom-navbar{
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

.custom-form-control, .dropdown a.custom-btn{
    border: 1px solid #EBEBEB;
    box-shadow: none;
    border-radius: 2PX;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all 0.3s ease;
}

.custom-form-control:focus{
    border-color: #C2101E;
    box-shadow: 0 0 2px 0 #C2101E;
}

.dropdown a.categories{
    border-right: 0 !important;
    border-radius: 0 !important;
}

.dropdown a.custom-btn:hover{
    background-color: #d4d4d4;
    color: #ff3956;
    border: 1px solid #BcBcBc;
}

.dropdown a.custom-btn:focus{
    color: #ff3956;
}

.custom-dropdown-menu{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    color: #777;
}

.search-btn{
    background-color: #ff3956;
    border-color: #ff3956;
    color: #fff;
    padding: 5px 15px 7px;
    height: 38px;
    width: 65px;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover 
{
    background-color: #C2101E;
    border-color: #C2101E;
    color: #fff !important;
}

.nav-link{
    color: #555555;
    padding: 15px;
    font-size: 14px;
}


.custom-navbar .navbar-nav li.active a.nav-link{
    color: #ff3956 !important;
    font-weight: 700;
    border-bottom: 1px solid #ff3956;
}

.custom-navbar .navbar-nav li.active a.nav-link:hover{
    background-color: #e7e7e7;
}

.custom-dropdown-menu li a:hover{
    background-color: #FFE7EA;
}

.custom-navbar .btn-icon{
    padding: 5px 10px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 15px;
}

/* قسم عرض الشرائح */

#carousel-featured{
    background-color: #F7F8F3;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img{
    height: 375px;
}

#carousel-featured .product-details {
    border: 1px solid #DDDDDB;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #F7F8F3;
}

#carousel-featured .product-details h1{
    font-size: 175%;
    font-weight: 700;
    margin-top: 18px;
}

#carousel-featured .product-details .product-category{
    border: 1px solid #DDDDDB;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #F7F8F3;
}

.custom-btn-outline-warning{
    border-color: transparent;
    border-color: #f8ad47;
    color: #f8ad47;
}

.custom-btn-outline-warning:hover,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:active:focus,
.custom-btn-outline-warning:active:hover {
    border-color: #b86d07;
    color: #b86d07;
}

.sale{
    background-color: #53CCD7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}

.sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
    transform: rotate(-25deg);
}

.custom-carousel-indicators{
    top: 235px;
    right: 41%;
}

.custom-carousel-indicators-primary{
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    border: 2px solid #DDDDDB !important;
    margin: 0 !important;
    margin-left: 5px !important;
}

.custom-carousel-indicators-primary.active{
    border-color: #f8ad47 !important;
}

#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left {
    color: #868686;
    font-size: 38px;
}

#store-features {
    box-shadow: 0 0 15px #EEF0EA;
    background-image: url('../images/bg_features.png');
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    background-size: auto 60%;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-position: -10px -20px;
}

#store-features .feature img{
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature{
    border-right: 1px solid #EEF0EA;
}

.heading{
    font-size: 24px;
    margin-bottom: 25px;
}

.custom-thumbnail img{
    height: 250px;
    width: 100%;
    max-width: 250px;
}

.custom-thumbnail{
    border: 2px solid #EEF0EA;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 50px;
}

.custom-thumbnail:hover{
    border-color: #53CCD7;
}

.custom-thumbnail h4{
    font-size: 18px;
}

.price{
    color: #53CCD7;
}

.rating{
    color: #C2C2C2;
}

.rating .active{
    color: #f3af41;
}

.overlay{
    position: absolute;
    background-color: rgba(83, 204, 215, 0.5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay:hover{
    opacity: 1;
}

.add-to-cart{
    color: #53CCD7;
    background-color: #fff;
    font-weight: 700;
}

.custom-thumbnail .sale{
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
}

.custom-thumbnail .sale::after{
    content: "-";
}

.custom-carousel-indicators-2{
    bottom: -20px !important;
}

.custom-carousel-indicators-2>li{
    width: 13px !important;
    height: 13px !important;
    margin: 2px !important;
    background-color: #dbdbdb !important;
}

.custom-carousel-indicators-2>li.active{
    background-color: #565656 !important;
}

.panel{
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;
}

.panel h4,
.panel .price{
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 130%;
}

.custom-text-muted{
    color: #A9A9A9 !important;
}

.arrow-btn{
    background-color: #fff;
    color: #868686;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

#row-brands h3.heading{
    border-top: 1px solid #EEF0EA;
    padding-top: 25px;
}

#brand-logos{
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555555;
}

#brand-logos img{
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

#footer-nav{
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%; 
}

.footer-nav-links{
    margin: 30px 0;

}

.footer-nav-links a{
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none !important;
}

.newsletter{
    border-top: 1px solid #292929;
}

.newsletter form{
    max-width: 260px;
}

.newsletter form label{
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}

.newsletter form input{
    background-color: #313131;
    opacity: .6;
    border: none;
    height: 38px;
    
}

.custom-btn-warning{
    color: #000;
    background-color: #f8ad47;
    border-color: #f8ad47;
}

.custom-btn-warning:hover,
.custom-btn-warning:active,
.custom-btn-warning:focus,
.custom-btn-warning:active:focus,
.custom-btn-warning:active:hover {
    background-color: #b86d07;
    border-color: #b86d07;
    color: #000 !important;
}

.newsletter button{
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    padding: 6px 12px 7px;
    color: inherit;
    height: 38px;
}

#footer-copyright-social{
    background-color: #151515;
    color: #303030;
    padding: 30px 0;
    font-weight: 700;
}

#footer-copyright-social a{
    color: #303030;
    margin: 0 5px;
    text-decoration: none;
}

.btn:focus,
.btn:active{
    box-shadow: none !important;
    outline: none !important;
}




/* product page */




.custom-breadcrumb{
    padding: 25px 0;
}

.custom-breadcrumb a{
    color: #555;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.custom-breadcrumb a:hover{
    color: #f8ad47;
}

.custom-breadcrumb>li::before{
    color: #f8ad47 !important;
}

.custom-breadcrumb.active{
    color: #bfbfbf;
}

#carousel-product-images .carousel-indicators{
    position: absolute;
    top: 92%;
    right: 0;
}

#carousel-product-images .carousel-item img{
    width: 100%;
    height: auto;
    border: 1px solid #EBEBEB;
}

.product-category{
    color: #A9A9A9;
}

#form-product-selection h2{
    font-weight: 700;
    margin: 18px 0;
}

.price.large{
    font-size: 30px;
    margin-top: 20px;
}

.borders-between>div+div{
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
}

.product-option{
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #ebebeb;
    text-align: center;
    justify-content: center;
    color: #c2c2c2;
    margin: 3px;
    font-weight: 700;
}

.product-option input{
    display: none;
}

.product-option.active{
    color: #f8ad47;
    border-color: #f8ad47;
}

.color-option{
    border-color: #fff;
    outline: #000 solid 1px;
}

.product-quantity select{
    height: 35px !important;
    padding: 6px 12px;
    margin-right: 5px;
}

.custom-btn-with-icon{
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 10px;

}

.heading-with-border-bottom{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}

.heading-inline{
    display: inline-block;
    min-width: 250px;
}

.more-description p,
.more-description ul{
    margin-bottom: 10px;
}

.comments .comment img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: 1px solid #dfdfdf;
}

.comments .comment h4{
    font-style: 18px;
    margin-bottom: 5px;
}

@media (max-width: 1199.98px) {
    .custom-navbar .navbar-nav li a.nav-link{
        padding: 7px;
    }
     #carousel-featured .carousel-indicators{
        width: 400px;
    }
}


@media (max-width: 991.98px) {
    .custom-navbar .container{
        max-width: 100%;
        padding: 15px 20px 30px !important;
    }
     .navbar-header{
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }
    .navbar-header .btn-icon{
        float: left;
    }
    .inline-form{
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    .inline-form .dropdown{
        display: none;
    }
    .inline-form .custom-form-control{
        width: 90%;
    }
    .inline-form .search-btn{
        width: 10%;
    }
    .custom-navbar .navbar-nav li a.nav-link{
        padding: 10px 0;
    }
    .navbar-collapse{
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }
    #carousel-featured .carousel-indicators{
        margin-right: 0%;
    }
    .add-to-cart{
        color: #868686;
        border-color: #868686;
        margin-top: 8px;
        font-weight: 400;
    }
    #row-brands .carousel-inner img{
        width: 200px !important;
        height: auto !important;
    }
    #copyright,
    #social-icons{
        width: 100%;
        text-align: center;
    }
    #social-icons{
        font-size: 150%;
        margin-top: 10px;
    }

    /* صفحة المنتج */

    .product-images{
        margin-bottom: 70px;
    }
    .product-option{
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        font-size: 20px;
    }
}


@media (min-width: 767.98px) and (max-width: 991.98px){
    .custom-thumbnail img{
        height: 200px !important;
    }
}

@media (max-width: 767.98px) {
    #carousel-featured,
    #carousel-featured .product-details{
        height: auto;
    }
    #carousel-featured .product-details{
        top: -2px;
        text-align: center;
    }
    #carousel-featured .carousel-item img{
        top: 25px;
    }
    .custom-thumbnail img{
        height: 250px;
    }
    #carousel-most-sold-alternative .custom-thumbnail img{
        margin: auto;
    }
    #brand-logos img{
        max-width: 50px;
        max-height: 50px;
        margin: 5px 24px 5px 23px;
    }
    #footer-nav .footer-logo{
        margin-bottom: 30px;
    }
    #footer-nav form{
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 20px;
    }
}


@media (max-width: 575.98px) {
     .inline-form .custom-form-control{
        width: 80% !important;
    }
    .inline-form .search-btn{
        width: 20% !important;
    }
    #brand-logos img{
        margin: 5px 15px;
    }
    #form-product-selection,
    .comments{
        padding-right: 15px !important;
    }
}